In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("LateralColumnAliasExample").getOrCreate()

24/06/10 16:01:41 WARN Utils: Your hostname, paulo resolves to a loopback address: 127.0.1.1; using 172.27.58.218 instead (on interface eth0)
24/06/10 16:01:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/10 16:01:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Sample data
data = [(1, 1500, 300), (2, 2500, 450), (3, 3200, 500)]
columns = ["employee_id", "base_salary", "bonus"]

In [4]:
# Create DataFrame
df = spark.createDataFrame(data, columns)
df.show()

+-----------+-----------+-----+
|employee_id|base_salary|bonus|
+-----------+-----------+-----+
|          1|       1500|  300|
|          2|       2500|  450|
|          3|       3200|  500|
+-----------+-----------+-----+

In [5]:
# Register DataFrame as a SQL temporary view
df.createOrReplaceTempView("employees")

In [6]:
query = """
WITH salary_details AS (
    SELECT employee_id, 
           base_salary + bonus AS total_compensation
    FROM employees
)
SELECT employee_id, 
       total_compensation, 
       total_compensation * 0.1 AS tax
FROM salary_details
"""
result = spark.sql(query)
result.show()

+-----------+------------------+-----+
|employee_id|total_compensation|  tax|
+-----------+------------------+-----+
|          1|              1800|180.0|
|          2|              2950|295.0|
|          3|              3700|370.0|
+-----------+------------------+-----+

In [7]:
query = """
SELECT employee_id, 
       base_salary + bonus AS total_compensation, 
       total_compensation * 0.1 AS tax
FROM employees
"""
result = spark.sql(query)
result.show()

+-----------+------------------+-----+
|employee_id|total_compensation|  tax|
+-----------+------------------+-----+
|          1|              1800|180.0|
|          2|              2950|295.0|
|          3|              3700|370.0|
+-----------+------------------+-----+